[submodule "test-e2e/features"]
	path = test-e2e/features
	url = https://github.com/deepstreamIO/deepstream.io-e2e.git
[submodule "connectors/cache/redis"]
	path = connectors/cache/redis
	url = git@github.com:deepstreamIO/deepstream.io-cache-redis.git
[submodule "connectors/cache/memcached"]
	path = connectors/cache/memcached
	url = git@github.com:deepstreamIO/deepstream.io-cache-memcached.git
[submodule "connectors/cache/hazelcast"]
	path = connectors/cache/hazelcast
	url = git@github.com:deepstreamIO/deepstream.io-cache-hazelcast.git
[submodule "connectors/storage/postgres"]
	path = connectors/storage/postgres
	url = git@github.com:deepstreamIO/deepstream.io-storage-postgres.git
[submodule "connectors/storage/rethinkdb"]
	path = connectors/storage/rethinkdb
	url = git@github.com:deepstreamIO/deepstream.io-storage-rethinkdb.git
[submodule "connectors/storage/mongodb"]
	path = connectors/storage/mongodb
	url = git@github.com:deepstreamIO/deepstream.io-storage-mongodb.git
[submodule "connectors/storage/elasticsearch"]
	path = connectors/storage/elasticsearch
	url = git@github.com:deepstreamIO/deepstream.io-storage-elasticsearch.git
[submodule "client"]
	path = client
	url = git@github.com:deepstreamIO/deepstream.io-client-js.git
[submodule "ds-types"]
	path = ds-types
	url = git@github.com:deepstreamIO/deepstream.io-types.git
