[submodule "uws-dependency"]
	path = uws-dependency
	url = https://github.com/deepstreamIO/uws-dependency.git
[submodule "test-e2e/features"]
	path = test-e2e/features
	url = http://github.com/deepstreamIO/deepstream.io-e2e.git
