[submodule "test-e2e/features"]
	path = test-e2e/features
	url = https://github.com/deepstreamIO/deepstream.io-e2e.git
[submodule "connectors/cache/redis"]
	path = connectors/cache/redis
	url = https://github.com/deepstreamIO/deepstream.io-cache-redis.git
[submodule "connectors/cache/memcached"]
	path = connectors/cache/memcached
	url = https://github.com/deepstreamIO/deepstream.io-cache-memcached.git
[submodule "connectors/cache/hazelcast"]
	path = connectors/cache/hazelcast
	url = https://github.com/deepstreamIO/deepstream.io-cache-hazelcast.git
[submodule "connectors/storage/postgres"]
	path = connectors/storage/postgres
	url = https://github.com/deepstreamIO/deepstream.io-storage-postgres.git
[submodule "connectors/storage/rethinkdb"]
	path = connectors/storage/rethinkdb
	url = https://github.com/deepstreamIO/deepstream.io-storage-rethinkdb.git
[submodule "connectors/storage/mongodb"]
	path = connectors/storage/mongodb
	url = https://github.com/deepstreamIO/deepstream.io-storage-mongodb.git
[submodule "connectors/storage/elasticsearch"]
	path = connectors/storage/elasticsearch
	url = https://github.com/deepstreamIO/deepstream.io-storage-elasticsearch.git
[submodule "client"]
	path = client
	url = https://github.com/deepstreamIO/deepstream.io-client-js.git
[submodule "connectors/clusterNode/redis"]
	path = connectors/clusterNode/redis
	url = https://github.com/deepstreamIO/deepstream.io-clusternode-redis.git
[submodule "connectors/logger/winston"]
	path = connectors/logger/winston
	url = https://github.com/deepstreamIO/deepstream.io-logger-winston.git
[submodule "plugins/aws"]
	path = plugins/aws
	url = https://github.com/deepstreamIO/deepstream.io-plugin-aws.git
