language: node_js

env:
  - CXX=g++-4.8

node_js:
  - "4.4.5" # Stated specifically for packaging

matrix:
  include:
    - node_js: "4.4.5"
      os: osx

script:
  - npm run coverage

after_script:
  - "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"

cache:
  directories:
    - nexe_node

before_deploy:
  - chmod 555 scripts/package.sh
  - ./scripts/package.sh

deploy:
  - provider: s3
    access_key_id:
      secure: "ni4sxRv3t4RGet/fV1A24s/Mo3bK+/yvumMdgnd3wTsW3hTuISjp6rdc/19tDQouAcaByUzItd3CBarijZJOzGkkvL94Ope0yIsK2ujwYQ8p3w1H0TjeJc1pfNT4G0H75hYMUZ00LFPaf3U/Cmf7xCk+63qOvaA28JKp5NxPT51zMwxReCA880djCHpmxWhE3+nUy5DmG79rNZl2dAyrdp3GMiFygd1e9p/4Ncj1RsjSR0XNfUHi+SNzbgY7hpr92Y/JBCDoYwTsfG6wKqqSNALdJRF8zOb8TRNSBnB+wzyhb1dVUFYDiOudKqpwkSvpQPmfdyz0aYgZHyRL5x+aNnBh29qPLuiaoiGYNt+465DlW02vDvAH+/0xxAakfa5GJ2D48w3nsJtpPdAtUCUL6QvulRFYYu6TeiHtbm1K3D7h6OaTsRoiyEsrbkEUyycQAakIeWzAgaQFTXaHGqEiw/xVd7xB2BtxsFyMQOG65jFBDowfKMOoUbwz+2SCor7HWxhSwkMSkRHxZBXSyQdx1DbS0iPU/DsNGQHuVtolKpqxQb7UMk5rS8BslpUyqrxKir3EVcfj8uLcUXqBVE9Qk+6ACWVpUusUBxTVTy6y9P7hW111I6cWhrXZQxwbSwh0GzC7NJ/TZQfvVW/sVaI+FKidMTWxm0ceowM+L8C+Mgw="
    secret_access_key:
      secure: "UxNVzZghmyHNl3ol7ZsfwfcR+nKJExmPd30qxzxH26Q2jY1u7CRie6aTvR0ZLHn8EJS5vBlg9RUlnfoCKh9o44mO0xhC/0TLnRg74lbVoejXXBKfIPXyLVyvl+CnLgX8L/S9K4goN8FhxqKsFp751EB6ID87eceTtFRdwiE+rB6HMcyVYrcDAygBTziUCjwgFxIiZxqBgKsvQ48Lj+MLHB7BI1NIoTJuXR5s5Mva4Y9bIKSHAfqirpJtaeJ3XF/56rLdsi6GbLegtH0ope1OUzqKCfUnQhKl5+Y7OWJk2Fah0PAqYos5IV/RxuHFXjXEFF9dhvzjN5a5Fyrrlo8pTllfkeQw+HhG+3WJJbiE6psob+GiNZ0KZcXI2SWwodqaKlEIcqI5EEs1hy7r6nWDv6RaJTFTjuv/CcvDqUk2KxEheTd4FR9RRH827pbsRMFX3u7Kc1V/TSzDIyohX73NxXuzcmd2HCGt00zqCawiLzGFsuhjeKlei7E1mLHZWNggFNW9nLOWbxtFig3nEPrHV59HHRHtONH1sa1cfjASLhOfIhU5crAQIyjkY6qGiM45twr84v9Z2GuRWT3kaHv95O8VIHqzrIXNlcpXGZhzW7qEXIXCnFzchQ/wVtKm1+DkvjxAIvuspU1qGOAKL8CQVSEfiAMqU9i6LPaZWooGAeM="
    bucket: ds-server-artifacts
    skip_cleanup: true
    acl: public_read
    local_dir: build
    upload-dir: $TRAVIS_REPO_SLUG
    on:
      branch: master

  - provider: releases
    skip_cleanup: true
    api_key:
      secure: "TQswArJ38P6LHt1/kvJ8TruJ5GLXxrWq9sOi7uyJQKo64mBDE3JbrDuRO6osjkBdAWZtc+9uBuGfvuIwMJPNiw0Qxw+X/JBZJLm+IHoau/qoRD5R+uF2p4KD3CapeGQ3bzlEiv3QeTrhXLowgxBKvi8Uj96OlNaRazoALYheWsdUr7e4m8mDqrDT7EO3tu/SR2dQlysQkgoWZoHy43HJay6De5eMO8BqpA78ZKFZ4Um2wcZI/aalfcTvyWwTuDMV/IUucbHkuqmuOCjjG1Z9IOszEbLu79cLMB3ZCR0iFCKP55xBuZ3p/UYPAXgfGmbIvRc9wvqKqe4ocFw9GmFAH+iDfdYul68DsbevkhBS8xNuOq1zNfLknCqwiBwlHDWFb2x52OE/EOqUaVZ+1ppEZs5HxJb+P/5C7fXREmptxYLirfMg6lsrc2qcrjbGUUFDuCMDf46zMl/WHrvFXgSrDfBQBU96nd0B1Mj09tXGKz/g1PEib3k5854kLZ0VO5iJT8TbQX6+0gOBv+7h64HdKZ/TdWbR69W5hK5xDXBaeeCN7/GoFRMnkjk+z0gTjVknTH7CYwK4JlZa3mVpmWRA91F72AjRMGgDVnGrB5asCcqoxsnoDm8fflktAM5h6k8sEIQg3kf7ilzpGjEOYo4kIWCt6ZUcgBpsAUomloJaOII="
    file_glob: true
    file:
      - "build/*.pkg"
      - "build/*.deb"
      - "build/*.rpm"
      - "build/*.tar.gz"
      - "build/*.zip"
    on:
      tags: true

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - rpm