# sudo: true
language: node_js

git:
    submodules: false

services:
  - docker

before_install:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      sed -i '' 's/git@github.com:/https:\/\/github.com\//' .gitmodules;
      if [ "$CC" == "gcc" ]; then
        export CC=$(ls -t /usr/local/bin/gcc-?.?);
      fi
    fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules;
      export CXX=g++-4.8;
    fi
  - git submodule update --init --recursive
  # - gem install fpm --conservative || echo "FPM install failed"

compiler:
  - gcc
  - clang

node_js:
  - "12"
  - "14"

env:
  - DEFAULT_DELAY: 50

matrix:
  include:
    - node_js: "12"
      os: linux
    - node_js: "12"
      os: osx

script:
  - npm run lint;
  - npm run test:all:coverage;
  - npm run e2e:uws;
  # These tests don't pass on CI
  # - npm run e2e:v3 || true;
  # - npm run e2e:uws:v3 || true;

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - rpm

after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"

notifications:
  email: false

before_deploy:
  - bash ./scripts/package.sh true true
  - npm run tsc # Just incase you know

deploy:
- provider: releases
  skip_cleanup: true
  edge: true
  api_key: ${GITHUB_TOKEN}
  file_glob: true
  skip_cleanup: true
  file:
    - "build/*/*.pkg"
    - "build/*/*.deb"
    - "build/*/*.rpm"
    - "build/*/*.tar.gz"
    - "build/*/*.zip"
  on:
    tags: true
- provider: npm
  email: "info@deepstream.io"
  api_key: ${NPM_TOKEN}
  edge: true
  skip_cleanup: true
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux
- provider: script
  script: bash scripts/docker.sh
  skip_cleanup: true
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux
