language: node_js

before_install:
  - gem install fpm --conservative || echo "FPM install failed"

env:
  - CXX=g++-4.8

node_js:
  - "6"
  - "5"
  - "4" # Stated specifically for packaging

matrix:
  include:
    - node_js: "4"
      os: osx

script:
  - npm run coverage
  # This has to happen here and not in before_deploy to be put in travis cache
  - chmod 555 scripts/package.sh
  - ./scripts/package.sh

after_script:
  - "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"

cache:
  directories:
    - nexe_node

deploy:
  - provider: s3
    access_key_id:
      secure: "fLOgKfeYND9wXaJvb0c2JVHy0pmn4HqV6A76bu1m0s4PtlTlP4TwXCTvWjB/261ya+6p8/6ojXndoMoBl4QTTwYEo50VNIyb6/iQCfMpzd9/w5GHOnhct2msk73V8D/nBPSgKwxjKwo2ADITc3dnUT+e8APwfNn5LZMIJSU1lx0="
    secret_access_key:
      secure: "PkII9sQVt7Ld+y+JmNYgunTbxHl3l85BahlgUds1JYGMmpsupoHhDs9RpchgF0HKbruQdfRQpiSsgEMHltebnt29QkX0q4G0Umqb4oi5Sfjr8YnTm7+dHwx5ZH0fMIUGS46R3QV7labStTJhLvl/siJimv6VLRd6BHIQmVrc4KM="
    bucket: ds-server-artifacts
    skip_cleanup: true
    acl: public_read
    local_dir: build
    upload-dir: $TRAVIS_REPO_SLUG
    on:
      branch: master

  - provider: releases
    skip_cleanup: true
    api_key:
      secure: "UeDGbc9qehbKD63mNT4IebRpcPdctgqAlk7GNrz6/l6rPBsyLALd0o7mqHYcF0Dd2kMew1fDBiQEBUMTuFaggvGyKDmDkqGCdfo/6dGH07FzTpCwXisZ6u5eXo30deT5q94K1kaU17h8gmowBwmrU6iLXRrxCb6fkq58GX8P9tE="
    file_glob: true
    file:
      - "build/*.pkg"
      - "build/*.deb"
      - "build/*.rpm"
      - "build/*.tar.gz"
      - "build/*.zip"
    on:
      tags: true

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - rpm
